*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    scroll-behavior: smooth;
}

#languages img{
    width: 20%;
    margin: 0 15px 0 0;
}

.container{
    display: flex;
    padding: 15px;
    overflow-x: hidden;
}

#startingthetab img{
    margin-bottom: 10px;
}

.left-bar{
    height: 100vh;
    background-color: #fbfbfb;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    padding: 30px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.left-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2{
    padding: 20px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 110%;
    margin-bottom: 10px;
}

p, .right-bar li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.right-bar li{
    margin-bottom: 5px;
}

#ecg-record ol img:not(.icon-move):not(.icon-list){
    margin: 10px 0;
    width: 100%;
}

#start-blood img:not(.icon-move){
    margin: 10px 0;
}

#ecg-record h3{
    margin: 15px 0;
}

#ecg-record{
    margin-bottom: 50px;
}

#ecg-quality h3{
    margin: 20px 0;
}

#measuring-methods{
    margin-top: 30px;
}

#measuring-methods h3{
    margin: 15px 0;
}

#start-blood h3{
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
}

strong{
    font-weight: 500;
}


.left-bar ul li{
    padding: 10px 15px;
}

.left-bar ul li a{
    color: #232F48;
    text-decoration: none;
    transition: .2s ease;
}

nav ul li.active a {
    color: #7C92FF;
    }

.right-bar{
    padding: 0 2% 0 30%;
    width: 100%;
    color: #232F48;
}

.full-size-img{
    width: 100%;
}

.card-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-column{
    margin-bottom: 20px;
}

.card-column-img{
    width: 100%;
}

.card-image, .card-text{
    width: 100%;
}

.card-column h3{
    margin-bottom: 10px;
    font-size: 16px;
}

video{
    width: 100%;
    margin-bottom: 40px;
}

.weight-wrong-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.device-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.device-cards-container img{
    margin-bottom: 15px;
}

#questionnaire-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#questionnaire-list li{
    width: 100%;
}

#questionnaire-list li img{
    margin-top: 15px;
}

.icon-move, .icon-list{
    position: relative;
    transform: translate(0, 7px);
    margin: 0 15px;
    height: 10px;
    transform: scale(2.15);
}

.icon-list{
    margin: 0 7px;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}


